<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">About The Couple<span class="text-muted"></span></h2>
          <p class="lead">Aaron and Brianna met in High School during theater. They really became acquainted when they had a scene together in a production of Twelfth Night. They graduated UD in 2015 right after they got engaged. Aaron currently works for a startup called Carvertise, while Brianna is living the dream working for herself at Brija Cosmetics.
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Twelfth Night Photo">
        </div>
      </div><div class="container">

</div>